<nav class="navbar navbar-expand-md navbar bg-primary mb-4" >
    <div class="container-fluid">
      <a class="navbar-brand" style="color: whitesmoke;" routerLink="/">Meu Campeonato</a>
     
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0" *ngIf="!authenticated">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: whitesmoke;" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: whitesmoke;" routerLink="/register">Registro</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0" *ngIf="authenticated">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/login']" routerLinkActive="router-link-active"  (click)="logout()" style="color: whitesmoke;">Logout</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
  